<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">{{ 'about.sidebar' | translate }}</h2>
  </div>
</md-toolbar>

<md-subheader class="md-primary">{{ 'about.subheader.joce' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'about.paragraph.joce' | translate }}</span>
</md-whiteframe>

<md-subheader class="md-primary">{{ 'about.subheader.us' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'about.paragraph.us' | translate }}</span>
</md-whiteframe>