<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">{{ 'editoce.header' | translate }}</h2>
  </div>
</md-toolbar>

<form name="jocexForm" ng-submit="submit()">
  <md-input-container>
    <label>{{ 'editoce.name' | translate }}</label>
    <input md-maxlength="15" required ng-model="name" ng-disabled="disabled">
  </md-input-container>
  <md-input-container>
    <label>{{ 'editoce.number' | translate }}</label>
    <input required type="number" ng-model="number" ng-disabled="disabled">
  </md-input-container>
  <md-input-container>
    <label>{{ 'editoce.days' | translate }}</label>
    <input required type="number" ng-model="time" ng-disabled="disabled">
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary" ng-disabled="disabled">{{ 'editoce.update' | translate }}</md-button>
  <md-button type="submit" class="md-raised md-warn" ng-click="remove()">{{ 'editoce.remove' | translate }}</md-button>
</form>