<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Your joces</h2>
  </div>
</md-toolbar>

<div ng-model="joces" ng-repeat="joce in joces" id={{joce.id}}>
  <md-list-item ng-click="go('/{{joce.url}}/{{joce.id}}')">
    <p>{{joce.name}}</p>
    <!-- <span class="badge alert-success" ng-show="{{joce.finished}}" >Finished</span>
    <span class="badge alert-warning" ng-show="{{joce.waiting}}" >Waiting</span>
    <span class="badge alert-info" ng-show="{{joce.updateable}}" >Updateable</span> -->
    <md-icon md-svg-src="img/icons/plus-circle-outline.svg" ng-show="{{joce.updateable}}" style="color: #673AB7;" ng-click="showUpdateableToast(); $event.stopPropagation()"></md-icon>
    <md-icon md-svg-src="img/icons/clock.svg" ng-show="{{joce.waiting}}" style="color: #673AB7;" ng-click="showWaitToast(); $event.stopPropagation()">></md-icon>
    <md-icon md-svg-src="img/icons/checkbox-marked-circle.svg" ng-show="{{joce.finished}}" style="color: #673AB7;" ng-click="showFinishedToast(); $event.stopPropagation()">></md-icon>
    <md-icon md-svg-src="img/icons/settings.svg" ng-click="go('/editJoce/{{joce.id}}'); $event.stopPropagation()" ng-disabled="{{joce.disabled}}" style="color: #673AB7;"></md-icon>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</div>

<md-button ng-click="go('/createJoce')" class="md-raised md-primary">Create a new joce</md-button>