<!-- <md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Your joces</h2>
  </div>
</md-toolbar> -->

<md-subheader class="md-primary">Your joces</md-subheader>

<div ng-model="joces" ng-repeat="joce in joces" id={{joce.id}}>
  <md-list-item ng-click="go('/{{joce.url}}/{{joce.id}}')">
    <p>{{joce.name}}</p>
    <span class="badge alert-success" ng-show="{{joce.finished}}" >Finished</span>
    <span class="badge alert-warning" ng-show="{{joce.waiting}}" >Waiting</span>
    <span class="badge alert-info" ng-show="{{joce.updateable}}" >Updateable</span>
    <md-icon md-svg-icon="img/icons/settings.svg" ng-click="go('/editJoce/{{joce.id}}')" ng-disabled="{{joce.disabled}}"></md-icon>
  </md-list-item>
</div>

<md-button ng-click="go('/createJoce')" class="md-raised md-primary">Create a new joce</md-button>