<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">{{ 'shareApp.header' | translate }}</h2>
  </div>
</md-toolbar>

<md-subheader class="md-primary">{{ 'shareApp.subheader.share' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'shareApp.paragraph.share' | translate }}</span>
</md-whiteframe>

<md-button type="submit" class="md-raised md-primary" ng-click="shareAnywhere()">{{ 'shareApp.share' | translate }}</md-button>