<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">{{ 'tutorial.sidebar' | translate }}</h2>
  </div>
</md-toolbar>

<md-subheader class="md-primary">{{ 'tutorial.subheader.exquisiteCorpse' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'tutorial.paragraph.exquisiteCorpse' | translate }}</span>
</md-whiteframe>

<br>

<md-subheader class="md-primary">{{ 'tutorial.subheader.wimy' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'tutorial.paragraph.wimy' | translate }}</span>
</md-whiteframe>

<br>

<md-subheader class="md-primary">{{ 'tutorial.subheader.wimeen' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">{{ 'tutorial.paragraph.wimeen' | translate }}</span>
</md-whiteframe>

<br>

<md-subheader class="md-primary">{{ 'tutorial.subheader.play' | translate }}</md-subheader>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="left left">
  <span class="no-select" style="padding: 20px;">
    {{ 'tutorial.paragraph.play1' | translate }}
    <ul>
      <li>
        <b>
          {{ 'tutorial.paragraph.play1-1.name' | translate }}
        </b>
        {{ 'tutorial.paragraph.play1-1.text' | translate }}
      </li>
      <li>
        <b>
          {{ 'tutorial.paragraph.play1-2.name' | translate }}
        </b>
        {{ 'tutorial.paragraph.play1-2.text' | translate }}
      </li>
      <li>
        <b>
          {{ 'tutorial.paragraph.play1-3.name' | translate }}
        </b>
        {{ 'tutorial.paragraph.play1-3.text' | translate }}
      </li>
    </ul>
    {{ 'tutorial.paragraph.play2' | translate }}
    {{ 'tutorial.paragraph.play3' | translate }}
    <ul>
      <li>
        {{ 'tutorial.paragraph.play3-1' | translate }}
      </li>
      <li>
        {{ 'tutorial.paragraph.play3-2' | translate }}
      </li>
    </ul>
    {{ 'tutorial.paragraph.play4' | translate }}
  </span>
</md-whiteframe>

<br>