<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>{{ 'names.App' | translate }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="img/icons/logo.ico">

    <!-- build:css styles/vendor.css -->
        <!-- injector:bowercss -->
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="lib/angular-material/angular-material.css">
        <!-- endinjector -->
    <!-- endbuild -->

    <!-- build:css styles/custom.css -->
        <!-- injector:css -->
        <link rel="stylesheet" href="css/customcordova.css">
        <link rel="stylesheet" href="css/demo.css">
        <!-- endinjector -->
    <!-- endbuild -->
    <script src="cordova.js"></script>
  </head>

  <body layout="row">

    <div ng-controller="HomeController" layout="column" layout-fill ng-cloak>
      <md-toolbar class='md-medium-tall'>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon ng-click="toggleLeft()" md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <h2 ng-click="go('/')">
            <span>{{ 'names.App' | translate }}</span>
          </h2>
        </div>
      </md-toolbar>

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-light md-medium-tall">
          <h1 class="md-toolbar-tools">{{ 'index.sidebar' | translate }}</h1>
        </md-toolbar>
        <md-content layout-padding>
          <md-list-item ng-click="go('/about')">
            <p>{{ 'about.sidebar' | translate }}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item ng-click="go('/tutorial')">
            <p>{{ 'tutorial.sidebar' | translate }}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item ng-click="go('/settings')">
            <p>{{ 'settings.sidebar' | translate }}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item ng-click="go('/shareApp')">
            <p>{{ 'shareApp.sidebar' | translate }}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-content>
      </md-sidenav>

      <md-content ui-view style="height: 600px;">
      </md-content>

      <md-toolbar flex>
        <div class="md-toolbar-tools">
        </div>
      </md-toolbar>

    </div>


    <!-- build:js scripts/vendor.js -->
        <!-- injector:bowerjs -->
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-mocks/angular-mocks.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-animate/angular-animate.js"></script>
        <script src="lib/angular-touch/angular-touch.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="lib/angular-ui-utils/ui-utils.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="lib/angular-aria/angular-aria.js"></script>
        <script src="lib/angular-material/angular-material.js"></script>
        <script src="lib/angular-translate/angular-translate.js"></script>
        <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="lib/hammerjs/hammer.js"></script>
        <script src="lib/angular-gestures/gestures.min.js"></script>
        <!-- endinjector -->
    <!-- endbuild -->

    <!-- build:js scripts/custom.js -->
        <!-- injector:js -->
        <script src="js/config.js"></script>
        <script src="js/application.js"></script>
        <script src="modules/core/core.js"></script>
        <script src="modules/core/config/routes.js"></script>
        <script src="modules/core/services/language.js"></script>
        <script src="modules/core/controllers/about.js"></script>
        <script src="modules/core/controllers/addJocex.js"></script>
        <script src="modules/core/controllers/createJoce.js"></script>
        <script src="modules/core/controllers/editJoce.js"></script>
        <script src="modules/core/controllers/home.js"></script>
        <script src="modules/core/controllers/setting.js"></script>
        <script src="modules/core/controllers/shareApp.js"></script>
        <script src="modules/core/controllers/showJoce.js"></script>
        <!-- endinjector -->
    <!-- endbuild -->

  </body>
</html>
