<div class="page-header">
    <h1 id="home-h1">Add a jocex</h1>
</div>

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alertShow">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  {{alerMessage}}
</div>

<ul class="list-group">
  <label>Lastest jocex</label>
  <li class="list-group-item" ng-model="lastestJocex" id={{lastestJocex.id}} >{{lastestJocex.text}}</li>
</ul>

<form role="form" ng-submit="submit()">
  <div class="form-group">
    <label>Add a new jocex</label>
    <input type="text" ng-disabled="disabled" class="form-control" ng-model="jocex" required>
  </div>
  <button type="submit" ng-disabled="disabled" class="btn btn-primary">Add jocex</button>
</form>