<div class="row"> 
  <div class="page-header col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
      <h1 id="home-h1">Create a joce</h1>
  </div>
</div>

<div class="row"> 
  <form role="form" ng-submit="submit()" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
    <div class="form-group">
      <label>Name of joce</label>
      <input type="text" class="form-control" ng-model="name" required>
    </div>
    <div class="form-group">
      <label>Number of jocex on joce</label>
      <input type="number" class="form-control" ng-model="number" required>
    </div>
    <div class="form-group">
      <label>Days between jocex</label>
      <input type="number" class="form-control" ng-model="time" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Create joce</button>
  </form>
</div>