<div class="page-header">
    <h1 id="home-h1">Your joces</h1>
</div>

<div class="panel panel-default">
  <table class="table table-hover">
    <tbody>
      <tr ng-model="joces" ng-repeat="joce in joces" id={{joce.id}} >
        <td ng-click="go('/{{joce.url}}/{{joce.id}}')" >
          {{joce.name}}
        </td>
        <td class="text-right text-nowrap">
          <span class="badge alert-success" ng-show="{{joce.finished}}" >Finished</span>
          <span class="badge alert-warning" ng-show="{{joce.waiting}}" >Waiting</span>
          <span class="badge alert-info" ng-show="{{joce.updateable}}" >Updateable</span>
          <button class="btn btn-xs" ng-click="go('/editJoce/{{joce.id}}')">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-footer">
    <button ng-click="go('/createJoce')" type="button" class="btn btn-primary">Crate a new joce</button>
</div>